TestUE5/.idea/*
TestUE5/TestUE5.sln
TestUE5/TestUE5.code-workspace
TestUE5/Makefile
TestUE5/.vs/TestUE5/v16
TestUE5/Binaries/*
TestUE5/Plugins/Puerts/ThirdParty/v8/
TestUE5/Plugins/*/Binaries/*
TestUE5/Plugins/*/Intermediate/*
