################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sqlite
/1/WindowsNoEditor
/Binaries
/Android_ASTC
/Intermediate
/Plugins/CrashDump/Binaries/Win64
/Plugins/CrashDump/Intermediate/Build/Win64/UE4Editor/Development/CrashDump
/Plugins/Debug/Binaries/Win64
/Plugins/Debug/Intermediate/Build/Win64/UE4Editor
/Plugins/JsonExtension/Intermediate/Build/Win64/UE4Editor
/Plugins/JsonExtension/Binaries/Win64
/Plugins/SQLiteManager/Binaries/Win64
/Plugins/SQLiteManager/Intermediate/Build/Win64/UE4Editor
/Plugins/Test/Intermediate/Build/Win64/UE4Editor
/Saved
/DerivedDataCache
/Plugins/Test/Binaries/Win64
/WindowsNoEditor
/Sqlite.sln
/CopyLastBinaries.bat - 快捷方式.lnk
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/CrashDump.cpp.json
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/CrashDump.cpp.obj
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/CrashDump.cpp.obj.response
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/CrashDump.cpp.obj.response.old
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/Definitions.CrashDump.h
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/LiveCodingInfo.json
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/UnrealEditor-CrashDump.dll.response
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/UnrealEditor-CrashDump.dll.response.old
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/UnrealEditor-CrashDump.exp
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/UnrealEditor-CrashDump.lib
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/UnrealEditor-CrashDump.lib.response
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/UnrealEditor-CrashDump.lib.response.old
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/UnrealEditor-CrashDump.suppressed.exp
Plugins/CrashDump/Intermediate/Build/Win64/UnrealEditor/Development/CrashDump/UnrealEditor-CrashDump.suppressed.lib
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/LiveCodingInfo.json
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/Module.Debug.cpp
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/Module.Debug.cpp.json
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/Module.Debug.cpp.obj
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/Module.Debug.cpp.obj.response
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/Module.Debug.cpp.obj.response.old
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/Module.Debug.cpp.old
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/Module.Debug.gen.cpp
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/Module.Debug.gen.cpp.json
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/Module.Debug.gen.cpp.obj
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/Module.Debug.gen.cpp.obj.response
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/Module.Debug.gen.cpp.obj.response.old
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/Module.Debug.gen.cpp.old
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/PCH.Debug.cpp
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/PCH.Debug.cpp.old
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/PCH.Debug.h
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/PCH.Debug.h.json
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/PCH.Debug.h.obj
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/PCH.Debug.h.obj.response
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/PCH.Debug.h.obj.response.old
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/PCH.Debug.h.old
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/PCH.Debug.h.pch
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/UnrealEditor-Debug.dll.response
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/UnrealEditor-Debug.dll.response.old
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/UnrealEditor-Debug.exp
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/UnrealEditor-Debug.lib
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/UnrealEditor-Debug.lib.response
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/UnrealEditor-Debug.lib.response.old
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/UnrealEditor-Debug.suppressed.exp
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Development/Debug/UnrealEditor-Debug.suppressed.lib
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Inc/Debug/Debug.init.gen.cpp
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Inc/Debug/DebugClasses.h
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Inc/Debug/DebugLogLibrarySettings.gen.cpp
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Inc/Debug/DebugLogLibrarySettings.generated.h
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Inc/Debug/Log.gen.cpp
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Inc/Debug/Log.generated.h
Plugins/Debug/Intermediate/Build/Win64/UnrealEditor/Inc/Debug/Timestamp
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/Definitions.JsonExtension.h
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/LiveCodingInfo.json
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/Module.JsonExtension.cpp
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/Module.JsonExtension.cpp.json
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/Module.JsonExtension.cpp.obj
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/Module.JsonExtension.cpp.obj.response
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/Module.JsonExtension.cpp.obj.response.old
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/Module.JsonExtension.cpp.old
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/Module.JsonExtension.gen.cpp
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/Module.JsonExtension.gen.cpp.json
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/Module.JsonExtension.gen.cpp.obj
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/Module.JsonExtension.gen.cpp.obj.response
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/Module.JsonExtension.gen.cpp.obj.response.old
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/Module.JsonExtension.gen.cpp.old
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/UnrealEditor-JsonExtension.dll.response
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/UnrealEditor-JsonExtension.dll.response.old
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/UnrealEditor-JsonExtension.exp
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/UnrealEditor-JsonExtension.lib
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/UnrealEditor-JsonExtension.lib.response
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/UnrealEditor-JsonExtension.lib.response.old
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/UnrealEditor-JsonExtension.suppressed.exp
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Development/JsonExtension/UnrealEditor-JsonExtension.suppressed.lib
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Inc/JsonExtension/JsonExtension.init.gen.cpp
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Inc/JsonExtension/JsonExtensionBPLibrary.gen.cpp
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Inc/JsonExtension/JsonExtensionBPLibrary.generated.h
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Inc/JsonExtension/JsonExtensionClasses.h
Plugins/JsonExtension/Intermediate/Build/Win64/UnrealEditor/Inc/JsonExtension/Timestamp
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/Definitions.SQLiteManager.h
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/LiveCodingInfo.json
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/Module.SQLiteManager.cpp
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/Module.SQLiteManager.cpp.json
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/Module.SQLiteManager.cpp.obj
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/Module.SQLiteManager.cpp.obj.response
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/Module.SQLiteManager.cpp.obj.response.old
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/Module.SQLiteManager.cpp.old
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/Module.SQLiteManager.gen.cpp
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/Module.SQLiteManager.gen.cpp.json
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/Module.SQLiteManager.gen.cpp.obj
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/Module.SQLiteManager.gen.cpp.obj.response
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/Module.SQLiteManager.gen.cpp.obj.response.old
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/Module.SQLiteManager.gen.cpp.old
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/UnrealEditor-SQLiteManager.dll.response
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/UnrealEditor-SQLiteManager.dll.response.old
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/UnrealEditor-SQLiteManager.exp
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/UnrealEditor-SQLiteManager.lib
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/UnrealEditor-SQLiteManager.lib.response
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/UnrealEditor-SQLiteManager.lib.response.old
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/UnrealEditor-SQLiteManager.suppressed.exp
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Development/SQLiteManager/UnrealEditor-SQLiteManager.suppressed.lib
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Inc/SQLiteManager/SQLiteBlueprintNodes.gen.cpp
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Inc/SQLiteManager/SQLiteBlueprintNodes.generated.h
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Inc/SQLiteManager/SQLiteDatabaseStructs.gen.cpp
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Inc/SQLiteManager/SQLiteDatabaseStructs.generated.h
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Inc/SQLiteManager/SQLiteManager.init.gen.cpp
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Inc/SQLiteManager/SQLiteManagerBPLibrary.gen.cpp
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Inc/SQLiteManager/SQLiteManagerBPLibrary.generated.h
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Inc/SQLiteManager/SQLiteManagerClasses.h
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Inc/SQLiteManager/SQLiteManagerObject.gen.cpp
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Inc/SQLiteManager/SQLiteManagerObject.generated.h
Plugins/SQLiteManager/Intermediate/Build/Win64/UnrealEditor/Inc/SQLiteManager/Timestamp
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/Definitions.Test.h
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/LiveCodingInfo.json
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/Module.Test.cpp
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/Module.Test.cpp.json
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/Module.Test.cpp.obj
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/Module.Test.cpp.obj.response
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/Module.Test.cpp.obj.response.old
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/Module.Test.cpp.old
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/Module.Test.gen.cpp
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/Module.Test.gen.cpp.json
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/Module.Test.gen.cpp.obj
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/Module.Test.gen.cpp.obj.response
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/Module.Test.gen.cpp.obj.response.old
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/Module.Test.gen.cpp.old
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/UnrealEditor-Test.dll.response
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/UnrealEditor-Test.dll.response.old
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/UnrealEditor-Test.exp
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/UnrealEditor-Test.lib
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/UnrealEditor-Test.lib.response
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/UnrealEditor-Test.lib.response.old
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/UnrealEditor-Test.suppressed.exp
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Development/Test/UnrealEditor-Test.suppressed.lib
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Inc/Test/Test.init.gen.cpp
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Inc/Test/TestBPLibrary.gen.cpp
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Inc/Test/TestBPLibrary.generated.h
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Inc/Test/TestClasses.h
Plugins/Test/Intermediate/Build/Win64/UnrealEditor/Inc/Test/Timestamp
